@CHARSET "UTF-8";

html{
	width: 100%;
}
body{
	width: 95%; height: 100%;
	margin: 0 auto;
	font-family: "Microsoft YaHei", 微软雅黑, sans-serif;
	font-size: 100%;
}
p,h1,h2,h3,h4,h5,h6,input,output{
	padding: 0; margin: 0;
	font-family: "Microsoft YaHei", 微软雅黑, sans-serif;
}

main{
	margin: 3em .5em;
}

.gallery{
	width: 100%;
}
.gallery *{
	margin: .5em 0;
}
.gallery img{
	width:100%;
}
.gallery output{
	width: 100%;
	border: solid 1px red;
}
.gallery::after{
	content: '';
	display: block;
	border-bottom: solid 1px rgb(150,150,150);
	margin: 1em 0;
}

.selector{
	font-size: 1.5em;
	width: 100%;
}
.selector form *{
	height: 2em;
	margin: 1em 0;
}
.selector select{
	width: 100%;
	display: block;
}
.selector input{
	width: 100%;
	display: block;
}
.selector input[type="submit"]{
	height: 3em;
	border: none;
	border-radius: .5em;
	background-color: rgb(0, 200, 50);
}
.selector input[type="submit"]:hover{
	background-color: rgb(0, 210, 55);
}
.selector input[type="submit"]:active{
	background-color: rgb(0, 180, 40);
}
.selector div#caution {
    color: red;
    font-size: .75em;
}

footer{
	width: 100%;
	position: relative;
	left: 0; bottom: 0;
}
footer .copyrightInformation{
	margin: 1em auto;
	font-size: .75em;
	text-align: center;
}

@media only screen and (min-width: 960px){
	main{
		width: 800px;
		margin: 3em auto;
	}
}