@CHARSET "UTF-8";
html{
	width: 98%; height: 100%;
}
body{
	width:100%; height: 100%;
	font-family: Monaco, Consolas, monospace, sans-serif;
	font-size: 100%;
}

textarea{
	width: 100%;
	font-size: 2.5em;
}
#terminal-output textarea{
	background-color: black;
	color: gray;
	border: solid 2px rgb(200,50,50);
	height: 20em;
}
#terminal-input textarea{
	background-color: rgb(50,50,200);
	color: rgb(200,200,200);
	border: solid 2px rgb(200,50,50);
	height: 5em;
}