.yangSelect {
    width: 11em;
    height: 1.5em;
}

.yangSelectInput *{
    height: 1.5em;
}
.yangSelectText{
	width: 8.5em;
	border: solid 1px gray;
	display: inline-block;
}
.yangSelectTextInput{
	width: 100%;
	border: none;
	font-size: 1em;
	padding: 0;
}
.yangSelectButton {
    width: 1.5em; height: 1.5em;
    display: inline-block;
    position: absolute;
    text-align: center;
    border: solid 1px #00FF4E;
}
.yangSelectButton input[type="button"] {
    visibility: hidden;
}

label {
    cursor: pointer;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
}

label:active {
    background-color: gray;
}

.yangSelectOption {
    border: solid 2px #0014FF;
    width: 10em;
    position: absolute;
}
.yangSelectOption ul{
	list-style: none;
	padding: 0; margin: 0;
	background-color: white;
}
.yangSelectOption li:hover{
	background-color: gray;
	cursor: pointer;
}

select {
    /* visibility: hidden;*/
    margin: 5em 0;
}


/**
 * MASK
 */
.mask{
    width: 100%;
    height: 100%;
    background-color: rgba(60, 60, 60, .7);
    /* position: absolute; */
    position: fixed;
    top: 0; left: 0;
    z-index: 9999;
}
.inner-mask{
    margin: auto;
    width: 30%;
    height: 30%;
    border: solid 2px white;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    overflow: auto;
}