@CHARSET "UTF-8";

html{
	width: 100%;
}
body{
	width: 960px; height: 100%;
	margin: 0 auto;
	font-family: "Microsoft YaHei", "微软雅黑", sans-serif;
	font-size: 100%;
}
p,h1,h2,h3,h4,h5,h6,input,output{
	padding: 0; margin: 0;
	font-family: "Microsoft YaHei", "微软雅黑", sans-serif;
}